.topo{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background:#4682B4;
	height: 70px;

}
.listNotice{
	position: fixed;
	left: 5%;
	right: 5%;
	background: #E6E6FA;
	padding: 10px;
	top: 80px;
}

#topoTitle{
	color: white;
	font-size: 40px;
}

#sair{
	position: absolute;
	right: 2%;
	z-index: 1;
	color: white;
	top: 25%;
	border:thin solid;
	padding: 10px;
}