<!DOCTYPE html>
<html>
<head>
	<title>Area administrativa ...</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../view/css/login.css">
	<link rel="stylesheet" type="text/css" href="../view/css/bootstrap.css">
</head>
<body>
	<div class="formLogin">
			<form method="post" action="valida.php">
			  <label>Usuário:
			  <input type="text" name="usuario" maxlength="50" /></label><br>
			  
			  <label>Senha: &nbsp; 
			  <input type="password" name="senha" maxlength="50" /></label><br>
			  
			  <input type="submit" id="button" value="Entrar" />
		</form>
	</div>
</body>
</html>